body {
  padding-top: 70px;
  background-image: url("images/blur2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #FFF;
  font-family: Lato, Open Sans, Helvetica;
  background-size: 1500px;
}

@media (max-width: 992px) {
  body {
    background-image: url("images/blur2mobile.jpg");
    background-position: top center;
    background-size: auto;
  }
}

a:visited {
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

/* -------Nav--------
-------------------------- */
.logo {
  width: 35px;
  position: relative;
  top: -7px;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  transition: 0.4s;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
  transition: 0.4s;
}



/* -------Main--------
-------------------------- */
.iphone {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  margin-top: 40px;
  margin-left: 50px;
}

@media (max-width: 992px) {
  .iphone {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    margin: 20px auto;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  margin: auto;
}

.main h1 {
  margin-top: 200px;
  margin-left: -100px;
  text-align: center justify;
  font-size: 300%;
}

@media (max-width: 992px) {
  .main h1 {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }
}

.main h2 {
  margin-left: -100px;
  text-align: center justify;
}

@media (max-width: 992px) {
  .main h2 {
    margin-top: 40px;
    margin-left: 0;
    text-align: center ;
  }
}

.button {
  margin-top: 30px;
  margin-left: -100px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border: transparent;
  border-radius: 28px;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline:0;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.button a:visited {
  color: #FFF;
}

#button-white {
  color: #FFF;
}

.hire a:visited {
  color: #FFF;
}

.hire a:active {
  color: #FFF;
}

.hire a:focus {
  color: #FFF;
}

@media (max-width: 992px) {
  .hire {
  display: block;
  margin: 30px auto;
  }
}

.arrow {
  width: 30px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}


/* -------Press--------
-------------------------- */
.press {
  background-color: #F8F8F8;
  width: auto;
  padding: 40px 0;
  margin: 0;
}

.logopress {
  height: 25px;
  margin: 25px 30px;
}

.wrapper_press {
  text-align: center;
}

@media (max-width: 992px) {
  .wrapper_press {
    margin: auto 40px;
  }
}

.title h2 {
  color: #767676;
  font-weight: 600;
  font-size: 170%;
  font-family: helvetica;
}


/* -------Features--------
-------------------------- */
.features {
  background-color: #FFF;
}

.wrapper_features {
  margin: auto;
}

.superwrap {
  overflow: hidden;
  margin: 0 30px;
}

.features h2 {
  padding: 55px 0;
  text-align: center;
}

@media (max-width: 992px) {
  .features h2 {
    padding: 30px 0 0 0;
    text-align: center;
  }
}

.features p {
  margin-bottom: 30px;
  text-align: justify;
}

.screen {
  float: right;
}

@media (max-width: 992px) {
  .screen {
    margin-bottom: 10px;
  }
}

@media (min-width: 993px) {
  .screen {
    margin-bottom: 70px;
  }
}

.ipad {
float: right;
padding: 30px;
margin-top: -55px;
}


/* -------Testimonials--------
-------------------------- */
.testimonials {
  background-color: #F8F8F8;
  text-align: center;
}

.testimonials h2 {
  padding: 55px 0 20px 0;
}

.imgcrop {
  width: 190px;
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

.imgcrop img {
  height: 100%;
  margin: auto;
}

.testimonials p {
  width: 230px;
  margin: auto;
  text-align: justify;
}

.quote {
  margin: 25px auto;
}

@media (min-width: 993px) {
  .wrap {
    margin: 20px 70px;
  }
}

.wrap {
  margin-bottom: 40px;
}

.black, .black a {
  color: black;
}

.item{
  background-color: #F8F8F8;
  text-align: center;
  height: 380px;
  padding-bottom: 20px;
}

.item p{
  margin: 0 40px;
}

@media (min-width: 700px) {
  .item p{
    margin: 0 200px;
  }
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}



/* -------Contact--------
-------------------------- */
.contact {
  margin: 40px 0;
  background-color: #FFF;
  font-family: helvetica;
}

.wrapper_contact {
  margin: auto 150px;
}

@media (max-width: 992px) {
  .wrapper_contact {
    margin: auto 20px;
  }
}

.contact h2 {
  text-align: center;
}

section#contact form {
  font-size: 150%;
}

.form-custom {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0px;
}

#message {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0px;
}

#port {
  margin-top: -100px;
  padding-top: 100px;
}

#cont {
  margin-top: -100px;
  padding-top: 100px;
}

input, textarea {
  border: 0;
  box-shadow: 0;
  border-bottom: 1px solid #999;
  font-size: 180%;
  resize: none;
}

input:focus, textarea:focus {
  outline: 0;
  border-bottom: 1px solid #1E87DB;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #1E87DB;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

/* Firefox < 19 */
input:focus:-moz-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #1E87DB;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

/* Firefox > 19 */
input:focus::-moz-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #1E87DB;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #1E87DB;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

.send {
  margin: 30px auto;
}

.messenger {
  color: white;
  background: #3C7EFD;
  font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: auto;
  border-radius: 5px 25px 25px 25px;
  padding: 10px 15px;
  width: auto;
  float: right;
}

@media (min-width: 993px) {
  .messenger {
    margin-top: 45px;
    width: 40%;
  }
}


/* -------Footer--------
-------------------------- */
footer {
  margin-top: 10px;
  padding: 40px;
  background-color: #202F7C;
  text-align: center;
  font-size: 120%;
  color: #F8F8F8;
}

footer p {
  margin: 20px 0;
  font-family: helvetica;
}

footer img {
  width: 40px;
}

h6 {
  margin-top: -15px;
  font-family: helvetica;
}
